#wholeBody {
    width: 600px;
    background-image: url("https://www.freecodecamp.org/news/content/images/size/w2000/2020/04/w-qjCHPZbeXCQ-unsplash.jpg");
    margin: 0 auto;
    height: 1200px;
    position: relative;
    bottom: 160px;
}
#notes_img {
    width: 110px;
    height: 110px;
    position: relative;
    left: 240px;
    bottom: 15px;
}
h1 {
    font-size: 50px;
    margin: 30px;
    padding: 30px;
    font-family: Helvetica;
    color: darkblue;
}

.button {
    padding: 10px 20px;
    position: relative;
    left: 485px;
    bottom: 110px;
  }

#notes {
    font-size: 20px;
    margin: 30px;
    padding: 30px;
    position: relative;
    bottom: 118px;
    left: 13px;
    color:blue;
}

#suru {
    position: relative;
    left: 1148px;
    bottom: 550px;
    color:darkorange;
    font-size: 20px;
    font-family: cursive;
}
#zoom {
    position: relative;
    left: 190px;
    width: 600px;
    height: 200px;
    bottom: 80px;
    background-color: lightcyan;
}
